.rounded-message {
    border-radius: 0 10px 10px 10px ;
}
.rounded-message-reverse {
    border-radius: 10px 0px 10px 10px !important;
}

p {
    max-width: max-content;
}

/* Ẩn thanh cuộn mặc định của trình duyệt */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
  }
  
  /* Đặt màu nền cho thanh cuộn */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Đặt màu cho tiến độ của thanh cuộn */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Đổi màu của tiến độ thanh cuộn khi được hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Dark Mode Color */
.dark_mode {
  background-color: rgba(0,0,0, 0.9);
}


/* Call Video */

.container {
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.myId {
	margin-right: 5rem;
	border-radius: 5px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: 10rem;
	margin-left: 10rem;
}

.caller {
	text-align: center;
	color: #fff;
}

body {
	/* background: #4776e6;  */
  /* fallback for old browsers */
	/* background: -webkit-linear-gradient(to right, #8e54e9, #4776e6);  */
  /* Chrome 10-25, Safari 5.1-6 */
	/* background: linear-gradient(
		to right,
		#8e54e9,
		#4776e6
	);  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes vibrate {
	0% {
	  transform: translate(0, 0);
	}
	20% {
	  transform: translate(-2px, -4px);
	}
	40% {
	  transform: translate(2px, 2px);
	}
	60% {
	  transform: translate(-2px, 4px);
	}
	80% {
	  transform: translate(2px, -2px);
	}
	100% {
	  transform: translate(0, 0);
	}
  }
  
  .square {

	animation: vibrate 0.6s infinite;
  }